body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}
.select,
.form-group {
    margin-top: 10px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    overflow: hidden;
    resize: none;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 80px;
}
button:hover {
    background-color: #0056b3;
}